@import "variables";
.home{
	@include flexCenter();
	.loginButton{
		display:table;
		margin:20px auto 0px auto;
		background: $or;
		height:initial;
		padding:10px 30px;
		border-radius: 6px;
		font-weight:600;
		color:#fff;
		border:0px;
		font-size:30px;
		cursor:pointer;
	} 
}