@import "variables";
.leagueList{
	grid-column: 1/3;
	display:grid;
	grid-template-columns: repeat(2,1fr);
	grid-gap: 12px;
	.leagueCard {
		line-height: 40px;
		display:grid;
		&:has(button){
			grid-template-columns: auto 120px;
			grid-column-gap: 12px;
			padding:0px 12px 0px 0px;
			a{
				padding-left:12px;
			}
		}
		&:not(:has(button)){
			a{
				padding:0px 12px;
			}
		}
		a{
			display:grid;
			&:has(.joined):has(.full){
				grid-template-columns: auto 40px 60px;
			}
			&:has(.joined):not(:has(.full)){
				grid-template-columns: auto 60px;
			}
			&:has(.full):not(:has(.joined)){
				grid-template-columns:auto 40px;
			}
			&:not(:has(.full)):not(:has(.joined)){
				grid-template-columns: 1fr;
			}
		}
		border-radius: 40px;
		background: $or;
		align-items: center;
		button{
			border:0px;
			@include roundBtn(26px);
		}
	}
}