@import "variables";

.filter{
	//animation: showSize forwards 0.5s;
	display:grid;
	grid-template-rows: auto 38px minmax(0,459px) 30px;
	grid-template-columns: repeat(2,1fr);
	grid-row-gap: 16px; 
	grid-column-gap: 8px;
	grid-template-areas: 
	"selectedTeam selectedPosition"
	"selectTeam selectPosition"
	"playerList playerList"
	"pagination pagination";
	@include bg;
	.playerList{
		display:grid;
		grid-template-columns: repeat(2, 1fr);
		grid-row-gap: 8px;
		grid-column-gap: 8px;
		grid-area:playerList;
	}
	.selectedItems{
		&.select-1{
			grid-area:selectedTeam;
		}
		&.select-2{
			grid-area:selectedPosition
		}
	}
	.multiSelect{
		&.select-1{
			grid-area:selectTeam;
		}
		&.select-2{
			grid-area:selectPosition;
		}
	}
	.pagination{
		grid-area:pagination;
	}
}