@import "variables";

header{
	background: $dark;
	padding: 5px 20px;
    display: grid;
    grid-template-columns: 164px auto 153px;
    text-align: right;
    align-items: center;
    grid-column-gap: 16px;
	font-family: $play;
	.logo{
		//animation: fromLeft forwards 1s;
	}
	.openTeam{
		background: $or;
		display:table;
		text-align: center;
		font-weight: 600;
		text-align: center;
		padding:0px 30px;
		@include roundBtn(30px);
		//animation: fromRight forwards 1s;
	}
	.welcome{
		font-weight: 800;
		font-family: $rob;
		color:#fff;
	}
}